.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #dddddd;
}

.link {
    text-align: left;
    max-width: 200px;
}

.logo {
    width: 50%;
}

.options {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    transition: color 0.5s ease;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.option:hover {
    color: #51a9fc;
}
