.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.link{
    text-align: left;
}

.logo{
    width: 50%;
}

.options{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option{
    font-weight: bold;
    font-size: 1.2rem;
}
